.picture{
    width: 300px;
    height: 470px;
   border: 3px solid white;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    
}
.picture img{
    height: 286px;
    width: 286px;
    border-radius: 10px;
    margin: 7px;
    transition: 0.4s;    
}

.picture img:hover{
    transform: scale(1.1);
}
.light-info{
    margin: 0 14px;
}

.light-info p{
    margin-bottom: 0;
    margin-top: 5px;
}

.light-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}
.btn-cart{
    width: 100%;
    background-color: rgb(113, 113, 240);
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 7px;
}
.btn-cart:hover{
    background-color: aqua;
}